<% include ../partials/header %>

<div class="container text-center mt-5">

    <div class="jumbotron shadow">
        <h1 class="display-3">Kapi Administraatori leht!</h1>
        <p class="lead">Sellel lehel on võimalik muuta kapilukustus süsteemi andmeid.</p>
        <hr class="my-4">
        <form action="/admin" method="POST">
            <div class="row justify-content-center">
                <div class="col-5">
                    <div class="form-group input-group input-group-lg form" style="width: 400px;">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Salasõna</span>
                        </div>
                        <input type="password" name="password" class="form-control">
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-lg shadow mt-4">Sisene</button>
        </form>
    </div>

    <% if (locals.flash) { %>
        <%- locals.flash %>
        <script>
            setTimeout(() => {
                $('.alert').fadeOut("fast")
            }, 10000)
        </script>
    <% } %>

</div>

<% include partials/footer %>