<% include partials/headerAdmin %>

<div class="container text-center mt-5">

    <h1 class="mb-4"> Lisa toode </h1>
    <form class="needs-validation" action="/admin/tooted/" method="POST" novalidate>
        <div class="form-row justify-content-center mb-5">
            <div class="col-3">
                <label for="kategooria" class="col-form-label col-form-label-lg">Toote Kategooria</label>
                <select id="kategooria" name="kategooria" class="form-control form-control-lg shadow-sm" required="required">
                    <option value="">Vali Kategooria</option>
                </select>
            </div>
            <div class="col-3">
                <label for="nimetus" class="col-form-label col-form-label-lg">Toote nimetus</label>
                <input type="text" name="toote_nimetus" pattern=".{2,70}" class="form-control form-control-lg shadow-sm" id="nimetus" placeholder="Nimetus" required>
            </div>
            <div class="col-2">
                <label for="kogus" class="col-form-label col-form-label-lg">Kogus</label>
                <input type="number" name="kogus" class="form-control form-control-lg text-center shadow-sm" id="kogus" placeholder="Kogus" step="0.01" min="0" max="9999.99" required>
            </div>
            <div class="col-2">
                <label for="myygi_hind" class="col-form-label col-form-label-lg">Müügi Hind</label>
                <input type="number" name="myygi_hind" class="form-control form-control-lg text-center shadow-sm" id="myygi_hind" placeholder="Müügi Hind" step="0.01" min="0" max="999.99" required>
            </div>
            <div class="col-2">
                <label for="oma_hind" class="col-form-label col-form-label-lg">Oma Hind</label>
                <input type="number" name="oma_hind" class="form-control form-control-lg text-center shadow-sm" id="oma_hind" placeholder="Oma Hind" step="0.01" min="0" max="999.99" required>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <div class="row justify-content-end">
                    <a href="/admin/tooted/" class="btn btn-lg btn-outline-primary shadow" id="btnBack">&laquo; Tagasi</a>
                </div>
            </div>
            <div class="col-4">
                <div class="row justify-content-start">
                    <button class="btn btn-outline-success btn-lg shadow" id="btnBuy">Lisa toode &raquo;</button>
                </div>
            </div>
        </div>
    </form>
    <% if (locals.flash) { %>
        <%- locals.flash %>
        <script>
            setTimeout(() => {
                $('.alert').fadeOut("fast")				
            }, 5000)
        </script>
    <% } %>
</div>

<script>
    $('#kategooria').append($('<option>', { value: 1, text: 'Õlu'}));
    $('#kategooria').append($('<option>', { value: 2, text: 'Alkoholivaba'}));
    $('#kategooria').append($('<option>', { value: 3, text: 'Kange'}));
    $('#kategooria').append($('<option>', { value: 4, text: 'Muu' }));
    $('#kategooria').append($('<option>', { value: 5, text: 'Snäk' }));
    $('#kategooria').append($('<option>', { value: 6, text: 'Valmistoit' }));

    (() => {
        'use strict';
        window.addEventListener('load', () => {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            let validation = Array.prototype.filter.call(forms, (form) => {
                form.addEventListener('submit', (event) => {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

<% include partials/footer %>