
<div class="alert shadow <%= locals.alertClass %> <% if (locals.type === "TopMargin") { %> mt-4 <% } else if (locals.type === "BottomMargin") { %> mb-4 <% } %>">
    <strong class="alert-type"><%= locals.message %></strong>
</div>
