#ostja {
    padding: 6px 0px 6px 20px;
    font-size: 20px;
}

#toode {
    padding: 6px 0px 6px 70px;
    font-size: 20px;
}

td {
    font-size: 20px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table > tbody > tr > th {
     vertical-align: middle;
}

td input[type="checkbox"] {
    margin: 0 auto;
}

tbody tr:nth-child(odd) {
    background: #DFDCE3;
}

tbody tr:nth-child(even) {
    background: #BEBEBE;
}

thead tr {
    background: #BEBEBE;
}

#volg {
    margin-left: 14px;
}

#kogus {
    margin-left: 22px;
    width:130px;
}

#hind {
    margin-left: 22px;
    width:130px;
} 

.kast1 {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 40px;
}

.kast2 {
    font-size: 20px;
    margin-top: 14px;
}

#aktiivne {
    width:22px;
    height:22px;
}

#admin {
    width:22px;
    height:22px;
}

#btnBuy {
    font-size: 30px;
    padding: 16px 24px;
}

#btnBack {
    font-size: 30px;
    padding: 16px 24px;
}

#btnLisa {
    font-size: 22px;
    padding: 16px 24px;
}

/* OMA CHECKBOX CSS*/
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2b882b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.alert {
    display: inline-block;
    padding: 15px 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-successs {
    color: #FFF;
    background-color: #5DB865;
    border-color: #5DB865;
}

.alert-dangerr {
    color: #FFF;
    background-color: #D85452;
    border-color: #D85452;
}

.alert-warningg {
    color: #FFF;
    background-color: #FFBB33;
    border-color: #FFBB33;
}
