.list-group a {
    font-size: 20px;
    color: black;
}

.list-group a span{
    float: right; 
    font-size: 15px;
}

.back {
    margin: 10px auto;
}

.tdId {
    font-size: 20px;
}

#.tableId tr:nth-child(odd) {
#    background: #DFDCE3;
#}

#.tableId tr:nth-child(even) {
#    background: #BEBEBE;
#}

.trId {
    background: #BEBEBE;
}
.btnTable {
    font-size: 35px;
    width: 75px; 
    height: 75px;
    margin: 2px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    transition-duration: 0.05s;
    outline:none;
}

.btnTable:active {
    background-color: black;
    color: white;
    transform: translateY(2px);
}

.calcTable {
    margin: 5px auto 0 auto;
}

.btnBuy {
    font-size: 30px;
    padding: 16px 24px;
}

.btnBack {
    font-size: 30px;
    padding: 16px 24px;
}

.resultDisplay{
    font-size: 30px;
    text-align: center;
    width: 237px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 25px;
}

.alert {
    display: inline-block;
    padding: 15px 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-successs {
    color: #FFF;
    background-color: #5DB865;
    border-color: #5DB865;
}

.alert-dangerr {
    color: #FFF;
    background-color: #D85452;
    border-color: #D85452;
}

.alert-warningg {
    color: #FFF;
    background-color: #FFBB33;
    border-color: #FFBB33;
}
