        <script>
            $(document).on("click", "#kuuLopp", () => {
                $("#kuuLoppModal").modal('toggle')
            });

            $(document).on("click", "#toggleNulliModal", () => {
                $("#nulliVolad").modal('toggle')
            });
        </script>
    </body>
</html>