<!DOCTYPE html>
<html lang="et">
    <head>
        <title>Kapi Admin</title>
        <link rel="stylesheet" type="text/css" href="/adminStyles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand navbar-light bg-light" style="font-size: 20px;">
	        <div class="container">
                <a class="navbar-brand mr-4" href="/admin/kodu">
                    <i class="fas fa-home "></i>
                    Admin
                </a>
                <ul class="navbar-nav mr-auto">
		            <li class="nav-item mr-4">
                        <a class="nav-link" href="/admin/kasutajad">Kasutajad</a>
		            </li>
		            <li class="nav-item mr-4">
                        <a class="nav-link" href="/admin/tooted">Tooted</a>
		            </li>
		            <li class="nav-item mr-4">
                        <a class="nav-link" href="/admin/ostud">Ostude Nimekiri</a>
		            </li>
                    <li class="nav-item mr-4">
                        <a class="nav-link" href="/admin/csv">Võlad</a>
		            </li>
                </ul>
                <ul class="navbar-nav mr-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">
                            Välju
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
		            </li>
                </ul>
 	        </div>
	    </nav>
